# Firebase
.firebase/
*-debug.log
.runtimeconfig.json

# Dependencies
node_modules/
.pnp
.pnp.js

# Build files
.next/
out/

# Env files
.env.local
.env.development.local
.env.production.local
.env.test.local

# Credentials
gcp-credentials.json
.env
.env
.DS_Store
