@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: monospace, Menlo, Consolas, "Courier New", serif; /* Updated to monospace */
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 96.1%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 93%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;

    --chart-1: 0 0% 40%;
    --chart-2: 0 0% 50%;
    --chart-3: 0 0% 60%;
    --chart-4: 0 0% 70%;
    --chart-5: 0 0% 80%;
    
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 0 0% 45.1%;
    --sidebar-primary: 0 0% 9%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 96.1%;
    --sidebar-accent-foreground: 0 0% 9%;
    --sidebar-border: 0 0% 89.8%;
    --sidebar-ring: 0 0% 9%;
  }

  .dark {
    --background: 0 0% 4%;
    --foreground: 0 0% 90%;
    --card: 0 0% 4%;
    --card-foreground: 0 0% 90%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 90%;
    --primary: 0 0% 22%;
    --primary-foreground: 0 0% 90%;
    --secondary: 0 0% 18%;
    --secondary-foreground: 0 0% 85%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 60%;
    --accent: 0 0% 25%;
    --accent-foreground: 0 0% 95%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 10%;
    --ring: 0 0% 60%;

    --chart-1: 0 0% 70%;
    --chart-2: 0 0% 60%;
    --chart-3: 0 0% 50%;
    --chart-4: 0 0% 40%;
    --chart-5: 0 0% 30%;

    --sidebar-background: 0 0% 4%; 
    --sidebar-foreground: 0 0% 70%; 
    --sidebar-primary: 0 0% 65%; 
    --sidebar-primary-foreground: 0 0% 0%; 
    --sidebar-accent: 0 0% 20%; 
    --sidebar-accent-foreground: 0 0% 90%; 
    --sidebar-border: 0 0% 4%; 
    --sidebar-ring: 0 0% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
